<style>
    input[type=text] {
        width: 30px !important;
        padding: 0px;
        text-align:center;
        border: 1px solid #333;
    }
       
</style>

@{
    ViewBag.Title = "Buy";
}
<section class="cart-section">
    <div class="section-title">
        <h2 class="container text-uppercase">
            Shoping Cart
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Count</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                        <tbody>
                                <tr>
                                    <td>
                                        <div>   
                                            @if(Session["smartphoneId"] != null)
                                            {
                                                <h5>@Session["smartphoneId"]</h5>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                            <div>
                                                @if (Session["smartphoneImage"] != null)
                                                {
                                                    <h5><img src="@Session["smartphoneImage"]" style="width:10%;"/></h5>
                                                }
                                            </div>      
                                    </td>
                                    <td>
                                        <div>
                                            @if (Session["smartphoneName"] != null)
                                            {
                                                <h5>@Session["smartphoneName"]</h5>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                          @using (Html.BeginForm("Buy","BuySmartphones",FormMethod.Post))
                                          {
                                            @Html.TextBox("txtCount")
                                          }
                                            @ViewBag.Count
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            @if (Session["smartphonePrice"] != null)
                                            {
                                                <h5>@Session["smartphonePrice"]</h5>
                                            }
                                        </div>
                                    </td>
                                </tr>
                        </tbody>
                </table>
                <br />
                <span class="btn btn-default" role="button" style="width:100%; background-color:#ffffff;">
                    @Html.ActionLink("Order Now", "MakeFinalizationInOrder", "BuySmartphones")
                </span>
            </div>
        </div>
    </div>
</section>

