@model OnlineSmartPhoneShop_Entities.Models.Order

<style>
    input[type="text"] {
        border: 2px solid #242424;
    }
</style>
<script src="~/Content/js/jquery.min.js"></script>

@{
    ViewBag.Title = "Order";
}

<div style="text-align:center;">
    <h2>Order Details</h2>
</div>
<hr />
<div style="text-align:center;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h2>Pleace fill this form to proseed with the order</h2>
        <div style="text-align:center;">
            <div style="text-align:center;">
                
                <div style="margin-bottom:5px;">
                    @Html.Label("Smartphone ID")
                </div>

                @Html.TextBox("smartphoneName",(string)ViewBag.smartphoneName,new { @readonly = "readonly" }) <br />

               
                <div style="margin-bottom:5px;">
                    @Html.Label("First Name")
                </div> 

                @Html.TextBoxFor(x=>x.FirstName, new { @placeholder = "Enter First Name" }) <br />
               @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                


                <div style="margin-top:5px;">
                    @Html.Label("Last Name")
                </div>

                @Html.TextBoxFor(x=>x.LastName, new { @placeholder = "Enter Last Name" })<br />
                @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })

                <div style="margin-top:5px;">
                    @Html.Label("Email Address")
                </div>

                @Html.TextBoxFor(x => x.EmailAddress, new { @placeholder = "Enter Email Adress" })<br />  
                @Html.ValidationMessageFor(x => x.EmailAddress, "", new { @class = "text-danger" })

                <div style="margin-top:5px;">
                    @Html.Label("Shipping Address")
                </div>

                @Html.TextBoxFor(x => x.ShipAddress,new {@placeholder="Enter Shipping Adress" })<br />
                @Html.ValidationMessageFor(x => x.ShipAddress, "", new { @class = "text-danger" })
                <br />
                <input type="submit" value="Order" class="btn btn-default" onclick="question()" />

                <script>
                   
                    function question() {
                        alert("Confirmation","Are you sure you want to buy this product ?")
                    }
                </script>

               
            </div>
        </div>
    }
    <br />
    <h5>Total Product Price: @ViewBag.TotalPrice</h5>

</div>









