<style>
    input[type="text"]{
        border:2px solid #242424;
    }
</style>

@{
    ViewBag.Title = "Order";
}

<div style="text-align:center;">
    <h2>Order Details</h2>
</div>
<hr />
    <div style="text-align:center;">
        @using (Html.BeginForm())
        {

          <h2>Pleace fill this form to proseed with the order</h2>
            <div style="text-align:center;">
                <div style="text-align:center;">
                    <div style="margin-top:5px;">
                        @Html.Label("Name")
                    </div>
                    
                      @Html.TextBox("Name") <br />
                   
                    <div style="margin-bottom:5px;">
                        @Html.Label("Family")
                    </div>
                    
                        @Html.TextBox("Family") <br />
                    


                    <div style="margin-top:5px;">
                        @Html.Label("Adress")
                    </div>
                    
                        @Html.TextBox("Adress")<br />
                   

                    <input type="submit" value="Order" class="btn btn-default" />
                </div>
              </div>
                }
                <br />
                <h5>Total Product Price: @ViewBag.TotalPrice</h5>

            </div>



